@use "../variables" as *;

#hero,
#hero:after {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#hero {
  height: 50vh;
  background: rgb(43, 49, 52);
}

#hero:after /*header blur*/ {
  content: "";
  height: 128px;
  background: linear-gradient(
    $back_color 50%,
    transparent 70%,
    transparent 100%
  );
}
