@use "../variables" as *;

#hero,
#hero:after {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 100%;
}

#hero {
  top: 56px;
  display: flex;
  justify-content: center;
  height: 50vh; /*
  background: rgb(43, 49, 52);*/
}

#hero:after /*header blur*/ {
  content: "";
  top: -52px;
  height: 128px;
  background: linear-gradient(
    $back_color 50%,
    transparent 70%,
    transparent 100%
  );
}

.hero-img {
  filter: grayscale(1);
}
