@use "../../variables" as *;

.tile {
  width: 100%;
  background: white;
  border-radius: 16px 16px 0px 0px;
}

.m-img {
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 16px 16px 0px 0px;
}

.m-title {
  margin: 0;
  padding: 0px 8px;
  overflow: hidden;

  line-height: 32px;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  color: $text_color;
}
