@use "../variables" as *;
@use "../animations" as *;

.poster {
  width: clamp(200px, 20%, 360px);
  border-radius: 16px 16px 0px 0px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  animation: showing 1s;
}

.with-left-space {
  margin-left: min(420px, 30%);
}

.details {
  padding-bottom: 12px;
  color: $text_color;
  border-bottom: 1px solid black;
  animation: showing 1s;
}

.details-title {
  text-align: center;
  margin-top: 0;
}

.related-title {
  text-align: center;
  margin-top: 48px;
}

.related-container {
  overflow-x: auto;
  margin-bottom: 72px;

  .list {
    width: clamp(1544px, 240%, 2444px);
  }
}

@media (max-width: 950px) {
  .poster {
    position: static;
    width: 230px;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  }

  .details,
  .related-title,
  .related-container {
    margin-left: 0;
  }

  .related-container .list {
    width: 1704px;
  }
}
