#content {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 120vh;
  margin: 0 auto;
  margin-bottom: 128px;
  margin-top: 88px;
}

@media (max-width: 768px) {
  #content {
    width: max(328px, 90%);
  }
}
