#logBox {
  display: inline-block;
  padding: 32px;
  margin: 32px;
  background-color: red;
}

#logBox h2 {
  margin-top: 0px;
}

#enrollText {
  display: inline;
  margin-right: 4px;
}

#logBox label {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: beige;
}

.logInBox {
  display: flex;
}

.logInBox input {
  width: 100%;
}

#logInButton {
  background-color: green;
}
