#logBox {
  display: inline-block;
  padding: 32px;
  margin: 32px;
  background-color: white;
  border-radius: 3%;
}

#logBox h2 {
  margin-top: 0px;
  font-size: 1.2em;
  /*text-align: center; */
}

#logBox label {
  display: block;
  margin-bottom: 4px;
  margin-top: 16px;
  /* text-align: center; */
  font-size: 0.7em;
}

.logInBox {
  display: flex;
}

.logInBox input {
  outline: none;
  width: 100%;
  font-size: 1em;
  padding: 4px;
  border-color: #696473;
}

.logInBox input:focus {
  width: 100%;
  font-size: 1em;
  padding: 4px;
  border-color: rgb(31, 23, 42);
}

#logInButton {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 0px;
  padding: 4px 0px;
  font-size: 1em;
  background-color: rgb(0, 68, 128);
}

#enrollBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enrollText {
  display: inline;
  font-size: 0.7em;
  margin-right: 3px;
}
