#logBox {
  display: inline-block;
  padding: 32px;
  margin: 32px;
  border-radius: 3%;
  background-color: white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  color: #08224c;
}

#logBox h2 {
  margin: 0px;
  font-size: 1.3em;
}

#logBox label {
  display: block;
  margin-bottom: 4px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 0.7em;
}

.logInBox {
  display: flex;
}

.logInBox input {
  width: 100%;
  outline: none;
  border: 0;
  border: 2px solid #565b63a1;
  border-radius: 4px;
  padding: 6px;
  font-size: 1em;
}

.logInBox input:focus {
  width: 100%;
  outline: none;
  border: 0;
  border: 2px solid #08224ca1;
  border-radius: 4px;
  padding: 6px;
  font-size: 1em;
}

#logInButton {
  width: 100%;
  padding: 6px;
  margin-top: 16px;
  margin-bottom: 0px;
  border-radius: 4px;
  background-color: #08224c;
  font-weight: 600;
  font-size: 1em;
  color: white;
}

#enrollBox {
  display: flex;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.enrollText {
  display: inline;
  margin-right: 3px;
  font-size: 0.7em;
}
