#resultsTabs {
  display: flex;
  width: 560px;
  min-width: 328px;
  margin: 48px auto;
  margin-top: 16px;
  justify-content: space-between;
}

.tab {
  display: flex;
  width: 120px;
  align-items: center;
}

.tab span {
  width: 100%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 6px;
  background-color: hsl(0, 0%, 15%); /*rgb(10, 44, 102)*/
  color: hsl(0, 0%, 96%);
  font-weight: 500;
}

.tab input {
  position: absolute;
  margin: 0px;
  display: none;
}

#tab0 input:checked + span {
  background-color: hsl(
    319 45 52.9
  ); /*#8d1bf7
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);*/
  color: hsl(0, 0%, 96%);
  border: 2px solid #000e29;
}

#tab1 input:checked + span {
  background-color: hsl(
    1.89 70.7 55.9
  ); /*#f71b1b
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);*/
  color: hsl(0, 0%, 96%);
  border: 2px solid #000e29;
}

#tab2 input:checked + span {
  background-color: hsl(
    130 50.2 52
  ); /*#1bf759
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);*/
  color: hsl(0, 0%, 96%);
  border: 2px solid #000e29;
}

#tab3 input:checked + span {
  background-color: hsl(
    198 66.7 60
  ); /*hsl(
    47.9 90.2 60
  )  #f7cb1b
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);*/
  color: hsl(0, 0%, 96%);
  border: 2px solid hsl(0, 0%, 15%); /*#000e29*/
}
