#navbar {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(48, 58, 72);
  color: white;
}

#logo {
  display: inline-block;
  width: 72px;
  margin-left: 32px;
  height: min-content;
}

#logo a {
  text-decoration: none;
  color: white;
}

#logo h1 {
  margin: 0px;
  font-weight: 900;
  font-size: 1.3em;
}

#searchForm {
  display: inline-block;
  height: min-content;
  width: calc(100% - 200px);
  padding: 0px 32px;
}

#searchForm form input {
  width: 100%;
  padding: 3px 6px;
  font-size: 1.2em;
  color: #08224c;
}

#logButton {
  display: inline-block;
  width: 64px;
  height: min-content;
  margin-right: 32px;
}

#logButton button {
  /*Sera un logo que ocupe 48*48 pixeles*/
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  color: white;
}
