#resultsBox {
  width: 100%;
  margin: 12px 24px 24px 24px;
}

#resultsGrid {
  display: grid;
  width: 100%;
  gap: 16px 12px;
  grid-template-columns: repeat(auto-fill, 144px);
  justify-content: center;
}

.cardBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: min-content;
  border-radius: 16px 16px 0px 0px;
  background-color: white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.cardImgBox {
  margin: 6px 6px 0 6px;
}

.posterImg {
  width: 132px;
  height: 198px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardBox a {
  text-decoration: none;
  color: #08224c;
}

.cardTitleBox {
  padding: 6px;
}

.cardTitle {
  margin: 6px 0px;
  text-align: center;
  font-size: 1em;
}

.cardButtonsBox {
  display: flex;
  height: 0px;
  width: 100%;
}

.cardButton1 {
  width: 56px;
  background-color: red;
}
.cardButton2 {
  width: 32px;
  background-color: yellow;
}
.cardButton3 {
  width: 56px;
  background-color: green;
}
